# Dependencies 
**/node_modules/
.pnp
.pnp.js
.yarn/
.yarn/install-state.gz

# Build / Output
**/build/
**/dist/
**/.next/
**/out/
**/.vite/
**/.turbo/
**/.cache/

# Coverage
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets 
*.pem
*.key

# Vercel 
.vercel/

# Backend 
apps/backend/audios/*
apps/backend/tmp/*

!apps/backend/audios/.gitkeep
!apps/backend/tmp/.gitkeep

# Binários pesados (speech / lip sync)
apps/backend/bin/Rhubarb-Lip-Sync-*/
apps/backend/bin/res/sphinx/

# Modelos / assets grandes
*.wav
*.mp3
*.flac
*.onnx
*.pt
*.bin


# Frontend assets gerados
frontend/node_modules/
frontend/public/models/tmp/

# Misc
*.tmp
*.temp